// app global css in SCSS form
.avatar-name {
  opacity: 0.9;
  font-size: 1.05rem;
  font-weight: 400;
}
.avatar-subtitle {
  opacity: 0.8;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0;
}
